.App {
  text-align: center;
  font: inherit;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

/* SBH -- this code will be implemented last
background-color:lightsteelblue;
height: 500px;
min-height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: top;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
font: inherit;  */
